.event-list {
  padding-left: 0;
  list-style-type: none;
  min-height:40px;
  background-color: lightgrey;
}

.airshark-event {
  word-break: break-all;
  word-wrap: break-word;

  background: #111;
  color: #fff;
  font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  overflow-y: hidden;
  font-size: 12px;
}
